body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    word-wrap: break-word;     /* permite cortar palabras largas */
    white-space: normal;       /* permite que el texto baje de línea */
    font-size: 14px;
}

th {
    background-color: #2c3e50;
    color: white;
}

tr:hover {
    background-color: #f0f0f0;
}

.btn-regresar {
    position: fixed;
    bottom: 40px;
    left: 50px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 10;
}

.btn-regresar:hover {
    background-color: #1a252f;
}

.btn-registrar {
    position: fixed;
    bottom: 40px;
    right: 50px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 10;
}

.btn-registrar:hover {
    background-color: #1a252f;
}
